<nav class="nav-inline border-radius">
  <ul>
    <li >
      <a href="/quote" class="button button-s">Fuel Quote</a>
    </li>
        </li>
          <li class="float-right">
      <a href="/fuelhistory" class="button nav-link box-shadow-l">Fuel Quote History</a>
    </li>
    <li class="float-right">
      <a href="/myprofile" class="button nav-link box-shadow-l">My Profile</a>
    </li>
    <li class="float-right">
      <a href="/users/logout" class="button nav-link box-shadow-l">Sign Out</a>
    </li>
  </ul>
</nav>  

<div class="profile">

  <div class="padding-m border-radius background-white profile-page box-shadow-xl margin-top-xxl margin-bottom-xxl">
    <h1 class="color-dark margin-top-m text-center display-title display-title-xl padding-bottom-m">Fuel Quote History</h1>
    <table class="box-shadow-l">
  <thead>
    <tr>
      <th scope="col">Gallons Requested</th>
      <th scope="col">Delivery Date</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">Suggested Price</th>
      <th scope="col">Total Amount Due</th>
    </tr>
  </thead>
  <tbody>
      <tr>
       <% if(quotes) { %>
      <% quotes.forEach(function(item) { %>
      <tr>
        <td> <%= item.gallons %> </td>
        <td> <%= item.delivery %> </td>
        <td> <%= deliver %> </td>
        <td> <%= item.price %> </td>
        <td> <%= item.total %> </td> 
      <% }) } %>
    </tr>
  </tbody>
</table>

  </div>



</div>